
.hero {
    position: relative;
    background-size: cover; }
    .hero, .hero > .container > .row {
      height: 100vh;
      min-height: 570px; }
    .hero .intro {
      position: relative;
      z-index: 4; }
      .hero .intro h1 {
        color: rgb(255, 254, 254);
        text-shadow: 4px 4px 8px #000000;
        font-size: 50px; }
      .hero .intro strong {
        font-weight: 900; }
    .hero.inner-page, .hero.inner-page > .container > .row {
      height: 40vh !important;
      min-height: 200px; }
  

      
.site-section {
    padding: 2.5em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 5em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; }
  
  .site-footer {
    padding: 4em 0; }
    @media (min-width: 768px) {
      .site-footer {
        padding: 8em 0; } }
    .site-footer .border-top {
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
    .site-footer a {
      color: rgba(0, 0, 0, 0.5); }
      .site-footer a:hover {
        color: black; }
    .site-footer ul li {
      margin-bottom: 10px; }
    .site-footer .footer-heading {
      font-size: 16px;
      color: #000; }
    
    .hthreetop{

      margin-top: -40%;
      margin-left: -50%;
      margin-right: 40%;
    }
    
    .bookform{
      margin-top: -5%;
      margin-left: 60%;
      margin-right: -50%;

    }

    .btnbook{
      margin-top: 10%;
    }
  
      .site-footer {
        padding: 4em 0; }
        @media (min-width: 768px) {
          .site-footer {
            padding: 8em 0; } }
        .site-footer .border-top {
          border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
        .site-footer a {
          color: rgba(0, 0, 0, 0.5); }
          .site-footer a:hover {
            color: black; }
        .site-footer ul li {
          margin-bottom: 10px; }
        .site-footer .footer-heading {
          font-size: 16px;
          color: #000; }
      

          @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

spanb{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
spanb a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
spanb a:before,
spanb a:after{
  position: absolute;
  content: "Start Now";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
spanb a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
spanb a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
spanb a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

footer{
  
  bottom: 0;
 }
 .footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
  padding: 55px 50px;
  margin-top: 80px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
 }
  
 .footer-distributed h3 span{
  color:  #5383d3;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }
  
  
 @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  
 }