
.hero {
    position: relative;
    background-size: cover; }
    .hero, .hero > .container > .row {
      height: 100vh;
      min-height: 570px; }
    .hero .intro {
      position: relative;
      z-index: 4; }
      .hero .intro h1 {
        color: rgb(255, 254, 254);
        text-shadow: 4px 4px 8px #000000;
        font-size: 50px; }
      .hero .intro strong {
        font-weight: 900; }
    .hero.inner-page, .hero.inner-page > .container > .row {
      height: 40vh !important;
      min-height: 200px; }
  

      
.site-section {
    padding: 2.5em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 5em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; }
  
  .site-footer {
    padding: 4em 0; }
    @media (min-width: 768px) {
      .site-footer {
        padding: 8em 0; } }
    .site-footer .border-top {
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
    .site-footer a {
      color: rgba(0, 0, 0, 0.5); }
      .site-footer a:hover {
        color: black; }
    .site-footer ul li {
      margin-bottom: 10px; }
    .site-footer .footer-heading {
      font-size: 16px;
      color: #000; }
    
    .hthreetop{

      margin-top: -40%;
      margin-left: -50%;
      margin-right: 40%;
    }
    
    .bookform{
      margin-top: -5%;
      margin-left: 60%;
      margin-right: -50%;

    }

    .btnbook{
      margin-top: 10%;
    }
  
      .site-footer {
        padding: 4em 0; }
        @media (min-width: 768px) {
          .site-footer {
            padding: 8em 0; } }
        .site-footer .border-top {
          border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
        .site-footer a {
          color: rgba(0, 0, 0, 0.5); }
          .site-footer a:hover {
            color: black; }
        .site-footer ul li {
          margin-bottom: 10px; }
        .site-footer .footer-heading {
          font-size: 16px;
          color: #000; }
      

          @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Start Now";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}